.scrollbox {
	background-color: #130505;
	border: 2px solid #130505;
	border-radius: 8px;
	padding: 15px;
	margin-top: 20px;
	width: 100%;
	height: 600px;
	overflow-y: auto;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Scrollbar Styles */
.scrollbox::-webkit-scrollbar {
	width: 12px;
}

.scrollbox::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 8px;
}

.scrollbox::-webkit-scrollbar-thumb {
	background: #130505;
	border-radius: 8px;
}

.scrollbox::-webkit-scrollbar-thumb:hover {
	background: #0b8043;
}

/* For Firefox */
.scrollbox {
	scrollbar-width: thin;
	scrollbar-color: #0f9d58 #f1f1f1;
}
