<div>
    <h1>League header page</h1>
</div>

<div class="flex space-x-6 p-4 overflow-x-auto">

    @for (card of cardList; track card.id) {

        <section class="shrink-0 w-80 rounded-xl shadow-lg bg-white border border-gray-200" hlmCard>
            
            <div hlmCardHeader>
                <h3 hlmCardTitle>{{ card.title }}</h3>
                <p hlmCardDescription>{{ card.description }}</p>
            </div>

            <div hlmCardContent class="mt-4 p-4">
                <p class="text-sm text-muted-foreground">
                    This is the main content area for the {{ card.title }} league summary.
                </p>
            </div>

            <div hlmCardFooter>
                <!-- Can add (click)="selectCard(card.id) if wished -->
                <button hlmBtn (click)="viewLeague(card)" class="w-full">
                    {{ card.buttonText }}
                </button>
            </div>
            
        </section>
    }

</div>