<div class="fixed top-0 left-0 right-0 z-10 bg-slate-900/80 backdrop-blur-md border-b border-white/10">
    <div class="mx-auto px-6 py-4 flex w-full"> 
        <div class="flex items-center gap-6 w-1/3"> 
            <h1 class="text-2xl font-bold text-white">FANTASY FRIEND</h1>
        </div>
    
        <div id="navLinks" class="w-1/3 text-white flex flex-row justify-center items-center gap-20">
            <h1 class="hover:underline hover:underline-offset-4 hover:cursor-pointer" (click)="goHome()">Home</h1>
            <h1 class="hover:underline hover:underline-offset-4 hover:cursor-pointer" (click)="goSearch()">Search</h1>
        </div>
    
        <div class="flex items-center justify-end w-1/3">
            @if(this.authServe.isAuthorized()){
                <button hlmBtn class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transition-colors" (click)="authServe.logout()">
                    Logout
                </button>
            }@else {
                <button hlmBtn class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transition-colors" (click)="scrollToLogin()">
                    Login
                </button>
            }
        </div>
    </div>
</div>
