.topcorner {
	margin: 10px 20px 0;
}

.luckstatsbackground {
	background-image:
		linear-gradient(
			rgba(255, 255, 255, 0.97),
			rgba(255, 255, 255, 0.95),
			rgba(255, 255, 255, 0.85),
			rgba(255, 255, 255, 0.85),
			rgba(255, 255, 255, 0.85)
		), url("/footballs.jpg");
}

.testbackground {
	background-image:
		linear-gradient(
			rgba(255, 255, 255, 0.8),
			rgba(255, 255, 255, 0.65),
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5),
			rgba(255, 255, 255, 0.5)
		), url("/routes.jpg");
}
