.topcorner {
	margin: 10px 20px 0;
}

.luckstatsbackground {
	background-image:
		linear-gradient(
			rgba(255, 255, 255, 0.97),
			rgba(255, 255, 255, 0.95),
			rgba(255, 255, 255, 0.85),
			rgba(255, 255, 255, 0.85),
			rgba(255, 255, 255, 0.85)
		), url("/footballs.jpg");
}

.medianluckstatsbackground {
	background-image:
		linear-gradient(
			rgba(255, 255, 255, 0.8),
			rgba(255, 255, 255, 0.7),
			rgba(255, 255, 255, 0.6),
			rgba(255, 255, 255, 0.6),
			rgba(255, 255, 255, 0.6)
		), url("/routes.jpg");
}

.luckstatsbackground-inverted {
	background-image:
		linear-gradient(
			rgba(0, 0, 0, 0.94),
			rgba(0, 0, 0, 0.9),
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 0.8),
			rgba(0, 0, 0, 0.8)
		), url("/footballsinverted.jpg");
}

.medianluckstatsbackground-inverted {
	background-image:
		linear-gradient(
			rgba(0, 0, 0, 0.6),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.1),
			rgba(0, 0, 0, 0.1),
			rgba(0, 0, 0, 0.1)
		), url("/routesinverted.jpg");
}
