<!-- Will create landing page right here -->

<app-navbar/>
<div>

    <!-- Separation 1 -->
    <section class="top-component text-white">
        <video autoplay loop muted playsinline class="absolute object-cover min-w-full min-h-full">
            <source src="obj-catch.mp4" type="video/mp4">
        </video>
        <div class="flex flex-col items-center justify-center p-10">

            <div class="top-text-content">
                <div class="text-9xl leading-none font-bold top-text-title-content">Fantasy Friend</div>
                <div class="mt-3.5 text-xl"><strong>Experience the thrill of fantasy sports like never before, with advanced fantasy stats!</strong></div>
            </div>
        </div>
        
    </section>

    <!-- Separation 2 -->
    <section class="bottom-component flex flex-row " id="section1" [class.visible]="section1Visible">

        <!-- Container holding all elements within this section -->
        <section class="h-full flex flex-col lg:flex-row justify-start w-full flex-grow p-10 ">
            
            <div class="basis-2/4 bg-white">
                <video autoplay loop muted playsinline class="object-cover min-h-full">
                    <source src="zay-siu.mp4" type="video/mp4">
                </video>
                <!-- <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNThmMzl4OWIzdGljMW8wdnMxeGs1ajhtaG9maGZza3R6bHRteXY1MCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fEYkIHnX4WoXQw2OfX/giphy.gif" 
                    alt="Football action" class="gif-object max-h-full max-w-full object-contain" />  -->
            </div>
            
            <div class="grow left-side-section p-10 flex items-center justify-center flex-col">
                <h1 class="text-4xl text-black font-bold">What is Fantasy Friend?</h1>
                <p class="mt-4 text-lg text-black max-w-2xl">
                    Fantasy Friend is your ultimate companion app for fantasy football. 
                    Our app provides you with the tools you need to take a deep dive into  
                    your fantasy football performances. We aim to help you separate your 
                    process from your results by providing key insights to make better decisions. 
                    Designed to be used alongside your favorite fantasy football platform. 
                </p>
            </div>
            
        </section>

    </section>

    
    <!-- Separation 3 -->
     
    <section class="middle-component flex flex-col justify-between items-stretch min-h-screen p-6" id="section2">
        

        <div class="max-w-4xl mx-auto px-6 pt-24 pb-12">
            <div class="text-center mb-16">
                <h2 class="text-5xl font-bold text-white mb-4">
                    Our Features Include:
                </h2>

            </div>
        </div>

        <div class="flex flex-row justify-between items-stretch gap-30">
            
            <!-- Card 1 -->
            <section class="h-full flex flex-row justify-center w-full flex-grow">
                
                <!-- <div class="flex-grow-4 right-side-section p-12 text-white p-6">
                    <div class="info-content flex items-center justify-center flex-col">
                        <h2 class="info-title text-4xl text-white font-bold">Master Your Game</h2>
                        <p class="info-description mb-4 text-lg">
                            Get real-time insights into all your leagues. Track wins, losses, and standings. Our intuitive dashboard keeps you in the know of how you and your league are performing.
                        </p>
                        <ul class="feature-list list-disc pl-5 space-y-2 text-xl">
                            <li>📊 Multi-league tracking</li>
                            <li>🏆 Win/loss analytics</li>
                            <li>⚡ Real-time updates</li>
                            <li>🍀 Luck insights</li>
                        </ul>
                    </div>
                </div>
                
                <div class="flex-grow-1 bg-white flex items-center justify-center p-6">
                    <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMTcxanBveDUyb2xlY3M2eG52eTVyejYwNXA3eHVheXR6M3Q3MWVzNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/moWuFKv1ZKBvQ8vCtt/giphy.gif" 
                        alt="Football action" class="gif-object max-h-full max-w-full object-contain" />
                </div>
                -->

                        <section
                            class="w-full max-w-sm rounded-2xl shadow-xl 
                                bg-gray-950 border border-gray-800
                                text-gray-100 transition-all duration-300 
                                hover:border-gray-600 hover:border-2 hover:-translate-y-1"
                            hlmCard
                        >

                            

                            <div hlmCardHeader class="flex flex-col items-center justify-center p-6 space-y-1">
                                <h3 hlmCardTitle class="text-xl font-semibold tracking-tight text-white">
                                 Discover new leagues
                                </h3>
                                <p hlmCardDescription class="text-sm text-gray-400 text-center">
                                    See all there is within Sleeper!
                                </p>
                            </div>

                            <div hlmCardContent class="p-6 pt-0">
                                <hlm-accordion>
                                    <hlm-accordion-item>
                                        <h3 class="contents">
                                            <button hlmAccordionTrigger>
                                                What is Sleeper API?
                                                <ng-icon name="lucideChevronDown" hlm hlmAccIcon />
                                            </button>
                                        </h3>
                                        <hlm-accordion-content>
                                            <p>
                                                The Sleeper API is a powerful tool for accessing and manipulating data within the Sleeper platform. 
                                                We use it to programmatically access the data within the Sleeper platform, and automatically convert
                                                it into useful statistics for you to use.
                                            </p>
                                        </hlm-accordion-content>
                                    </hlm-accordion-item>

                                    <hlm-accordion-item>
                                        <h3 class="contents">
                                            <button hlmAccordionTrigger>
                                                What are Leagues?
                                                <ng-icon name="lucideChevronDown" hlm hlmAccIcon />
                                            </button>
                                        </h3>
                                        <hlm-accordion-content>
                                            <p>
                                                Leagues are groups of users, usually friends, family, or coworkers, who compete against each other 
                                                in a fantasy football league. Leagues are created and managed through the Sleeper platform, and 
                                                are accessible through the API.
                                            </p>
                                        </hlm-accordion-content>
                                    </hlm-accordion-item>

                                
                                </hlm-accordion>
                            </div>

                            <div hlmCardFooter class="p-6 pt-4">
                                <!-- <button
                                hlmBtn
                                class="w-full bg-blue-600 hover:bg-blue-500 text-white font-medium py-2 rounded-lg transition-colors duration-200"
                                >
                                Some text
                                </button> -->
                            </div>
                        </section>
            </section>

            <!-- Card 2 -->
            <section class="h-full flex flex-row justify-center w-full flex-grow ">
                
                <!-- <div class="flex-grow-1 bg-white flex items-center justify-center">
                    <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNThmMzl4OWIzdGljMW8wdnMxeGs1ajhtaG9maGZza3R6bHRteXY1MCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fEYkIHnX4WoXQw2OfX/giphy.gif" 
                        alt="Football action" class="gif-object max-h-full max-w-full object-contain" />
                </div>
                
                <div class="flex-grow-4 left-side-section p-10 flex items-center justify-center flex-col">
                    <h1 class="text-4xl text-black font-bold">What is calculated?</h1>
                    <p class="mt-4 text-lg text-black max-w-2xl">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div> -->

                        <section
                            class="w-full max-w-sm rounded-2xl shadow-xl 
                                bg-gray-950 border border-gray-800
                                text-gray-100 transition-all duration-300 
                                hover:border-gray-600 hover:border-2 hover:-translate-y-1"
                            hlmCard
                        >

                            <div hlmCardHeader class="flex flex-col items-center justify-center p-6 space-y-1">
                                <h3 hlmCardTitle class="text-xl font-semibold tracking-tight text-white">
                                    Search by username
                                </h3>
                                <p hlmCardDescription class="text-sm text-gray-400 text-center">
                                    Find what leagues others have joined
                                </p>
                            </div>

                            <div hlmCardContent class="p-6 pt-0">
                                <hlm-accordion>
                                    <hlm-accordion-item>
                                        <h3 class="contents">
                                            <button hlmAccordionTrigger>
                                                 See the leagues others have joined
                                                <ng-icon name="lucideChevronDown" hlm hlmAccIcon />
                                            </button>
                                        </h3>
                                        <hlm-accordion-content>
                                            <p>
                                                Simply enter a username and search for any leagues that user has joined.
                                            </p>
                                            <p>
                                                Don't be worried about someone else accessing your Sleeper account though, all 
                                                requests are made through the Sleeper API and are read-only, meaning none
                                                of your data can be modified. 
                                            </p>
                                        </hlm-accordion-content>
                                    </hlm-accordion-item>

                                    <hlm-accordion-item>
                                        <h3 class="contents">
                                            <button hlmAccordionTrigger>
                                                Filter leagues as desired
                                                <ng-icon name="lucideChevronDown" hlm hlmAccIcon />
                                            </button>
                                        </h3>
                                        <hlm-accordion-content>
                                            <p>
                                                Only view the leagues of users you want to see. Search for any user and view
                                                the leagues they have joined. Make a mistake? No problem, you can always 
                                                remove a user from your list.
                                            </p>
                                            
                                        </hlm-accordion-content>
                                    </hlm-accordion-item>

                                
                                </hlm-accordion>
                            </div>

                            <div hlmCardFooter class="p-6 pt-4">
                                <!-- <button
                                hlmBtn
                                class="w-full bg-blue-600 hover:bg-blue-500 text-white font-medium py-2 rounded-lg transition-colors duration-200"
                                >
                                Some text
                                </button> -->
                            </div>
                        </section>
                
            </section>

            <!-- Card 3 -->
            <section class="h-full flex flex-row justify-center w-full text-black flex-grow">
                

                        <section
                            class="w-full max-w-sm rounded-2xl shadow-xl 
                                bg-gray-950 border border-gray-800
                                text-gray-100 transition-all duration-300 
                                hover:border-gray-600 hover:border-2 hover:-translate-y-1"
                            hlmCard
                        >


                            <div hlmCardHeader class="flex flex-col items-center justify-center p-6 space-y-1">
                                <h3 hlmCardTitle class="text-xl font-semibold tracking-tight text-white">
                                    Calculate stats for your leagues
                                </h3>
                                <p hlmCardDescription class="text-sm text-gray-400 text-center">
                                some description
                                </p>
                            </div>

                            <div hlmCardContent class="p-6 pt-0">
                                <!-- <p class="text-sm text-gray-300 leading-relaxed">
                                This is the main content area for the  league summary.
                                </p> -->

                                <hlm-accordion>
                                    <hlm-accordion-item>
                                        <h3 class="contents">
                                            <button hlmAccordionTrigger>
                                                Advanced stats
                                                <ng-icon name="lucideChevronDown" hlm hlmAccIcon />
                                            </button>
                                        </h3>
                                        <hlm-accordion-content>
                                            <p>
                                                View normal stats such as wins/losses, as well as more advanced stats such as All Play (AP),
                                                wins/losses, and more. Anything marked as "AP" is calculated based as if every user played
                                                against every other user in the league, every single week, not just their specific matchup.
                                            </p>

                                        </hlm-accordion-content>
                                    </hlm-accordion-item>

                                    <hlm-accordion-item>
                                        <h3 class="contents">
                                            <button hlmAccordionTrigger>
                                                Luck
                                                <ng-icon name="lucideChevronDown" hlm hlmAccIcon />
                                            </button>
                                        </h3>
                                        <hlm-accordion-content>
                                            <p>
                                                We calculate proprietary luck metrics for each user, based on their actual performance relative to the 
                                                performance their AP record would have predicted. This allows you to see how much luck was involved in 
                                                matchups. 
                                                
                                            </p>
                                            <p>
                                                Additionally, for leagues with a median matchup, we calculate the luck based on how close a 
                                                user's performance was to the median, with being slightly above (lucky) or below (unlucky) the median being 
                                                considered to be a part of luck.
                                            </p>
                                        </hlm-accordion-content>
                                    </hlm-accordion-item>

                        
                                </hlm-accordion>


                            </div>

                            <div hlmCardFooter class="p-6 pt-4">
                                <!-- <button
                                    hlmBtn
                                    class="w-full bg-blue-600 hover:bg-blue-500 text-white font-medium py-2 rounded-lg transition-colors duration-200"
                                >
                                    Some text
                                </button> -->
                            </div>
                        </section>
                
            </section>
        </div>

    </section>


    <!-- Separation 4 -->
    <section class="very-bottom-component  flex flex-row " id="Login">

        <section class="h-full flex flex-row justify-start w-full flex-grow ">

            
            <div class="flex-grow-4 left-side-section p-10 flex items-center justify-center flex-col mt-7 ">
                <h1 class="text-9xl text-white font-bold">Get Started</h1>
                <p class="mt-4 text-lg text-white max-w-2xl">
                    Check in with all the leagues today. See how close you are to winning it all!
                </p>
                    <div id="google-btn-container" class="mt-6">
                        <!-- make sure the button is hidden by default, then show it when the client is initialized -->
                         @if(!this.authService.isAuthorized()){
                            <button class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transition-colors" 
                            id="google-btn" (click)="signInWithGoogle()">Login with Google</button>
                         }@else{
                            <button hlmBtn class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transition-colors" 
                            id="google-btn" (click)="navigateSearch()">Go to Search</button>
                         }
                    </div>
            </div>
           

        </section>
    </section>


</div>