name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint-frontend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./frontend

    steps:
      - uses: actions/checkout@v6
      - uses: biomejs/setup-biome@v2

      - name: Lint
        run: biome ci .

  lint-backend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
          cache: maven

      - name: Lint
        working-directory: backend
        run: |
          ./mvnw -B spotless:check
          ./mvnw -B checkstyle:check

  test-frontend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./frontend

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "lts/*"
      - run: npm ci

      - name: Tests
        run: npm test

  test-backend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
          cache: maven

      - name: Tests
        run: ./mvnw -B test

  check-ddl:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./backend

    env:
      GENERATED: temp.data
      TARGET: scripts/init.sql
      CLASSPATH: .gen-classpath
      PACKAGE: dev.revature.fantasy

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25
          cache: maven

      - name: Check DDL
        run: |
          ./mvnw -B compile
          ./mvnw -B dependency:build-classpath -Dmdep.outputFile=$CLASSPATH
          echo ":target/classes" >> $CLASSPATH
          java -cp `cat $CLASSPATH` src/main/java/scripts/GenerateDdl.java $PACKAGE $GENERATED
          diff -u $GENERATED $TARGET
